<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    {% load static %}
    <script src="{% static "Javascript/FileSaver.js" %}"></script>
    <script>
        var oldx, oldy, x, y, canvas, ctx, start;

        function init() {
            canvas = document.getElementById("input")
            ctx = canvas.getContext("2d");
	        ctx.fillStyle = "#000000";
	        ctx.fillRect(0, 0, canvas.width, canvas.height);
        }
        function draw(e) {
            x = e.clientX;
            y = e.clientY;
	        ctx.lineCap = "round";	
	        ctx.strokeStyle = "#FFFFFF";
	        ctx.lineWidth = 10;
            ctx.moveTo(oldx, oldy);
            ctx.lineTo(x,y);
            ctx.stroke();
            oldx = x;
            oldy = y;
        }
        function mouseMove(e) {
            if (start == 1) {
                draw(e);
            }
        }

        function mouseDown(e) {
            start = 1;
            oldx = e.clientX;
            oldy = e.clientY;
        }

        function mouseUp(e) {
            start = 0;
        }

        function saveCanvas() {
            canvas.toBlob(function(blob) {
                saveAs(blob, "image.png");
            });
        }

        function clearCanvas() {
            // ctx.fillStyle = "#000000";
	        ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.beginPath()
            init()
        }
    </script>
</head>
<body onload="init()">
    <canvas id="input" width="200" height="200" style="border: 1px solid #c3c3c3;" onmousemove="mouseMove(event)" onmousedown="mouseDown(event)" onmouseup="mouseUp(event)"></canvas>
    <p id="para1"></p>
    <p id="para2"></p>
    <p id="para3"></p>
    <!-- <button type="submit" onclick="saveCanvas()">Save</button> -->
    <button onclick="clearCanvas()">Clear</button>
    <form action="" method="post" onsubmit="saveCanvas()">
        {% csrf_token %}
        <input type="submit" name="Predict" id="submit" value="Predict">
    </form>
    <h1>You have entered: {{ result }}</h1>
</body>
</html>
